<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="padding: 0;">Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="emailForm" (ngSubmit)="checkEmail()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="emailForm.get('email').hasError(validation.type) && (emailForm.get('email').dirty || emailForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Send</ion-button>

        <div class="validation-confirmation">
          <span *ngIf="emailFailure()">If an account with that email exists a password reset link will be sent</span>        
        </div>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <small>
          *Please provide your account's email.
        </small>         
      </ion-col>
    </ion-row>

  </form>
</ion-content>
