<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- The required elements will not proceed unless they are filled out  -->
 <form [formGroup]="resetForm" (ngSubmit)="validatePasswordReset()" novalidate>
   
  <!--
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

  -->
    

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="resetForm.get('email').hasError(validation.type) && (resetForm.get('email').dirty || resetForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- type password allows it to appear encrypted and not be visible upon entering -->
    <ion-item lines="full">
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="resetForm.get('password').hasError(validation.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input formControlName="passwordRepeat" type="password" required></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="resetForm.get('passwordRepeat').hasError('passwordMismatch')">
        Passwords Don't Match
        </div>
        <div class="error-message" *ngIf="resetForm.get('password').hasError(validation.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Change Password</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
