<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="news">
  
    <ion-list>
      <!-- <ion-list-header>
        <ion-label>
          News
        </ion-label>
      </ion-list-header> -->

      <ion-item lines="full" *ngFor="let article of news" button (click)="onArticleSelected(article)">
        <!-- <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail> -->
        <ion-label>
          <h2>
            {{ article.title }}
          </h2>
          <p> By: 
            {{ article.author }}
          </p>
          <p>
            {{ article.datePublished }}
          </p>

          <!-- <ion-item  >
            <ion-text  >
              <p>
                {{ article.datePublished }}
              </p>
            </ion-text>
          </ion-item> -->

        </ion-label>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
