<ion-header translucent>
  <ion-toolbar>
    <ion-title>Event Registration</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list inset="false">
    <ion-list-header class="ion-padding-right ion-padding-top">
      <h1 class="ion-no-margin" [innerHTML]="eventName"></h1>
    </ion-list-header>
    <ion-item lines="full">
      <ion-text  class="ion-color-medium" color="ion-color-medium" >
        <p class="ion-no-margin" [innerHTML]="eventTime"></p>
      </ion-text>
    </ion-item>
    <ion-item lines="full" >
      <ion-text>
        <p [innerHTML]="eventDescription"></p>
      </ion-text>
    </ion-item>
    <ion-button [class.ion-hide]="registered == true" class="ion-margin-top" color="success" expand="block" (click)="registerForEvent()">Register</ion-button>
    <ion-button [class.ion-hide]="registered == false" class="ion-margin-top" color="danger" expand="block" (click)="unregisterForEvent()">Unregister</ion-button>
  </ion-list>
</ion-content>