<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="danger" (click)="close()">
            <span ion-text color="primary" showWhen="ios"></span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title>
    <h1 [innerHTML]="header"></h1>
  </ion-title>  
  
  <ion-item>
    <p [innerHTML]="subHeader"></p>
  </ion-item> 

  <ion-item>
    <p [innerHTML]="message"></p>
  </ion-item>

  
    <form [formGroup]="emailForm" (ngSubmit)="login()">
<!--
        <ion-item lines="full">
        <ion-label position="floating">Enter Account Email 
          <span *ngIf="formInputIsRequired('email')" class="required">&#42;</span>
        </ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
      
      
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="emailForm.get('email').hasError(validation.type) && (emailForm.get('email').dirty || emailForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  -->
      <ion-row>
        <ion-col>
          <ion-button color="success" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>


</ion-content>
