<ion-header>
  <ion-toolbar>
    <ion-title>Attendance QR Scanner</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h1><strong>Coming soon</strong></h1>
  </ion-item>

  <ion-item >
    <p>This page is currently not developed and cannot be tested.  Upon further implementation it will be used to set user attendance at events by scanning an event QR code.</p>
  </ion-item>



</ion-content>
