<ion-header>
  <ion-toolbar>
    <ion-title>Campus Resources</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-navbar text-center> -->
    
    <br>
    <ion-title text-center>
      About Green TCNJ
    </ion-title>
  <!-- </ion-navbar> -->
  <p>Green TCNJ is an app focused on displaying and storing useful information in reguards to a greener campus.  
    You can search which materials can be discarded or recycled on campus, view scheduled environmental events and register for them.  </p>

  <p>
    <a href="https://recycling.tcnj.edu/information/why/ ">Why should you recycle at TCNJ?</a>
   </p>

  <p>
   <a href="https://recycling.tcnj.edu/ ">Recycling, Main Focus of app is under Information and Guidelines</a>
  </p>

  <p>
    <a href="https://oses.tcnj.edu/environmentalprograms/">General trash "Waste Disposal" and specialized waste disposal</a>
  </p>
  
  <p>
    <a href="https://oses.tcnj.edu/stormwater/ ">Stormwater, heavy focus on events for calendar events</a>
  </p>

  <p>
    <a href="https://polisci.tcnj.edu/sustainability-council/">ESC</a>
  </p>    
  
  <p>
    <a href="https://climate.tcnj.edu/">Old PCCC, Replaced with the ESC</a>
  </p>  
    
  <p>
    <a href="https://energy.tcnj.edu/">(Old contact information) Energy Conservation</a>
  </p>  
    
  <p>
    <a href="https://water.tcnj.edu/">Water Conservation</a>
  </p>
  
  <p>
    <a href="https://printing.tcnj.edu/">Print Sense</a>
  </p>
  
  <p>
    <a href="https://environmentalstudies.tcnj.edu/about-environmental-studies-minor/">Minor</a>
  </p>

</ion-content>
