<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Campus Resources
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>
    <h1><strong>About Green TCNJ</strong></h1>
  </ion-item>

    <ion-item >
      <p>Green TCNJ is an app focused on displaying and storing useful information in regards to a greener campus.  
        You can search which materials can be discarded or recycled on campus, register for upcoming environmental events, and view the latest recycling and environmental news for TCNJ.</p>
    </ion-item>

  <ion-item class="ion-text-wrap" >
    <a href="https://climate.tcnj.edu/">Presidents' Climate Commitment Committee</a>
  </ion-item>


  <ion-item class="ion-text-wrap" >
    <a href="https://recycling.tcnj.edu/information/why/ ">Why should you recycle at TCNJ?</a>
   </ion-item>

  <ion-item class="ion-text-wrap" >
   <a href="https://recycling.tcnj.edu/ ">Recycling</a>
  </ion-item>

  <ion-item class="ion-text-wrap" >
    <a href="https://oses.tcnj.edu/environmentalprograms/">Waste Disposal</a>
  </ion-item>
  
  <ion-item class="ion-text-wrap" >
    <a href="https://oses.tcnj.edu/stormwater/">TCNJ Stormwater Information</a>
  </ion-item>

  <ion-item class="ion-text-wrap" >
    <a href="https://polisci.tcnj.edu/sustainability-council/">Environmental Sustainability Council</a>
  </ion-item>    
  
  <!--

<ion-item class="ion-text-wrap" >
    <a href="https://climate.tcnj.edu/">Old PCCC, Replaced with the ESC</a>
  </ion-item> 

  -->
   
    
  <ion-item class="ion-text-wrap" >
    <a href="https://energy.tcnj.edu/">Energy Conservation</a>
  </ion-item>  
    
  <ion-item class="ion-text-wrap" >
    <a href="https://water.tcnj.edu/">Water Conservation</a>
  </ion-item>
  
  <ion-item class="ion-text-wrap" >
    <a href="https://printing.tcnj.edu/">Print Sense at TCNJ</a>
  </ion-item>
  
  <ion-item class="ion-text-wrap" >
    <a href="https://environmentalstudies.tcnj.edu/about-environmental-studies-minor/">Minor in Environmental Studies</a>
  </ion-item>

  <p> 
    Want to reach out to The Office of Occupational Safety and Environmental Services? Contact Amanda Radosti at:  
    <a href="mailto:radosti@tcnj.edu?subject=GreenTCNJ App Help">radosti@tcnj.edu</a>
  </p>
  
</ion-content>
