<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name = "home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="whatgoeswhere">
            <ion-icon name = "search-circle" slot="start"></ion-icon>
            <ion-label>What goes where?</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="schedule">
            <ion-icon name = "calendar" slot="start"></ion-icon>
            <ion-label>My Schedule</ion-label>
          </ion-item>          
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="qr-scanner">
            <ion-icon name = "scan" slot="start"></ion-icon>
            <ion-label>Attendance Scanner</ion-label>
          </ion-item>          
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="news">
            <ion-icon name = "newspaper" slot="start"></ion-icon>
            <ion-label>News</ion-label>
          </ion-item>          
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="campusresources">
            <ion-icon name = "link" slot="start"></ion-icon>
            <ion-label>Campus Resources</ion-label>
          </ion-item>          
        </ion-menu-toggle>



      </ion-list>
    </ion-content>

    <!-- <ion-footer-bar> -->
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="settings">
            <ion-icon name = "settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="reportissue">
            <ion-icon name = "help-circle" slot="start"></ion-icon>
            <ion-label>Help/Report Issues</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    <!-- </ion-footer-bar> -->

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
