<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/whatgoeswhere"></ion-back-button>
    </ion-buttons>
    <ion-title>What goes where?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-app id="load_material_page" *ngFor="let material of materialResult">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title [innerHTML]="material.name"></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-card>
        <br>
        <img class="center" [src]= "material.image" vertical-align="middle">
        <ion-card-header>
          <ion-card-subtitle [innerHTML]="material.type"></ion-card-subtitle>
          <!-- <ion-card-title [innerHTML]="material.image"></ion-card-title> -->
        </ion-card-header>
        <ion-card-content [innerHTML]="material.description"></ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

  <!-- <p [innerHTML] = "material_name"></p> -->

  <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=Y18ycGQzMXFlZ2s0OW1qdWMzczdqODQ5Y25sb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%233F51B5&amp;color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
  
</ion-content>
