<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/whatgoeswhere"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Suggest New Material
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <form [formGroup]="wordForm" (ngSubmit)="submitWord()">
    <ion-item lines="full">
      <br>
      <br>
      <ion-text>Suggest a material to be added to the application, an admin will review your suggestion.  A material description is optional if you wish to include one.</ion-text>

      <br>
      <ion-label position="floating">Suggested Material
        <span *ngIf="formInputIsRequired('word')" class="required">&#42;</span>
      </ion-label>
      <ion-input formControlName="word" type="text" autoGrow="true" required></ion-input>
      
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.word">
        <div class="error-message" *ngIf="wordForm.get('word').hasError(validation.type) && (wordForm.get('word').dirty || wordForm.get('word').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      
      <ion-label position="floating">Material Description</ion-label>
      <ion-textarea formControlName="description" type="text" autoGrow="true"></ion-textarea>
    </ion-item>

    <br>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Submit</ion-button>

        <div class="validation-confirmation">
          <span *ngIf="wordFailure()">Your word has been submitted!</span>        
        </div>

      </ion-col>
    </ion-row>


    <!-- <ion-row>
      <ion-col>
        <small>
          *Please provide your word upon registration.
        </small>         
      </ion-col>
    </ion-row> -->

  </form>
</ion-content>
