.validation-errors{
    color: red; 
    margin: 10px;
    font-size: 75%;
}

.pwDisclaimer{
    color: red; 
    margin: 5px;
    font-size: 60%;
}

img.center {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
}
