.validation-errors{
    color: red; 
    margin: 5px;
    font-size: 75%;
}

.pwDisclaimer{
    color: red; 
   // margin: 5px;
    font-size: 60%;
}

ion-img.center {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
}

ion-slides, ion-slide {
    height: 100%;
    width: auto;
    --bullet-background-active: rgb(4, 252, 128);
    --bullet-background: #000;
}

.slider{
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
  }
