<ion-header>
  <!-- <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar> -->
</ion-header>
<ion-view hide-nav-bar="true"></ion-view>

<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <!-- <img src="../../assets/icon/icon.png"> -->
        <img src="../../assets/icon/icon.png">
        <h1>Welcome to Green TCNJ!</h1>
        <p>This app is centered on making TCNJ a greener campus</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <!-- <img src="../../assets/icon/TCNJ SPIRIT HEAD FULL COLOR RGB.png"> -->
        <img src="../../assets/RecyclingRoscoe.png">
        <h1>Not sure where to recycle materials on campus?</h1>
        <p>Green TCNJ can show you what materials can be recycled and where to recycle among many other features!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>
