<ion-header>
  <ion-toolbar>
    <ion-title [innerHTML]="newsTitle"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="false">
    <!-- <ion-list-header class="ion-padding-right ion-padding-top">
      <h4 class="ion-no-margin" [innerHTML]="newsAuthor"></h4>
    </ion-list-header> -->
    <ion-item  lines="full">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start" color="ion-color-medium">
              <h5 [innerHTML]="newsAuthor">text-start</h5>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end" color="ion-color-medium">
              <p [innerHTML]="newsDatePublished">text-end</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item lines="full" >
      <ion-text>
        <p [innerHTML]="newsDescription"></p>
      </ion-text>
    </ion-item>

  </ion-list>

</ion-content>
